<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intecsec.mall.user.mapper.IdGenMapper">

	<resultMap id="BaseResultMap" type="com.intecsec.mall.user.entity.IdGen">
		<id column="id_name" jdbcType="VARCHAR" property="idName" />
		<result column="next_start_id" jdbcType="BIGINT" property="nextStartId" />
		<result column="fetch_len" jdbcType="BIGINT" property="fetchLen" />
		<result column="id_desc" jdbcType="VARCHAR" property="idDesc" />
	</resultMap>

	<select id="getById" parameterType="map" resultMap="BaseResultMap">
		SELECT id_name, next_start_id, fetch_len, id_desc FROM id_gen WHERE id_name = #{idName,jdbcType=VARCHAR}
	</select>

	<update id="updateNextStart" parameterType="map">
		UPDATE id_gen SET next_start_id = next_start_id + fetch_len 
		WHERE id_name = #{idName,jdbcType=VARCHAR} AND next_start_id = #{currentStart,jdbcType=BIGINT}
	</update>

</mapper>
